# Entorno virtual
venv/

# Archivos temporales de Python
__pycache__
*.pyc

# Variables de entorno
.env

# Base de datos y coonfiguracion local
instance/
.db

# Archivos del sistema (macOS)
.DS_Store
