{% extends "base.html" %}
{% block title %}Servicios | ScheduleControl{% endblock %}

{% block content %}
<h2>Servicios registrados</h2>

<div class="page-header">
    <a href="/servicios/nuevo" class="btn-primary">+ Nuevo servicio</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Duración (min)</th>
            <th>Precio</th>
            <th>Negocio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for servicio in servicios %}
        <tr>
            <td>{{ servicio.id_servicio }}</td>
            <td>{{ servicio.nombre }}</td>
            <td>{{ servicio.duracion }}</td>
            <td>{{ servicio.precio }}</td>
            <td>{{ servicio.negocio.nombre }}</td>
            <td>
                <div style="display: flex; gap: 10px;">
                    <a href="{{ url_for('servicios.editar_servicio', id_servicio=servicio.id_servicio) }}" class="btn-secondary">
                        Editar
                    </a>

                    <form action="{{ url_for('servicios.eliminar_servicio_web', id_servicio=servicio.id_servicio) }}" method="POST">
                        <button type="submit" class="btn-danger">
                            Eliminar
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}