{% extends "base.html" %}

{% block content %}
<div style="margin-bottom: 15px;">
    <a href="/citas/nuevo" class="btn-primary">+ Nueva cita</a>
</div>

<h2>Citas registradas</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Servicio</th>
            <th>Negocio</th>
            <th>Acciones</th>
            <th>Fecha</th>
            <th>Hora</th>
        </tr>
    </thead>
    <tbody>
        {% for cita in citas %}
        <tr>
            <td>{{ cita.id_cita }}</td>
            <td>{{ cita.cliente.nombre }}</td>
            <td>{{ cita.servicio.nombre }}</td>
            <td>{{ cita.negocio.nombre }}</td>
            <td>{{ cita.fecha }}</td>
            <td>{{ cita.hora_inicio }} - {{ cita.hora_fin }}</td>
            <td>
                <a href="/citas/{{ cita.id_cita }}/editar" class="btn-secondary">Editar</a>
                
                <form action="/citas/{{ cita.id_cita }}/eliminar" method="POST">
                    <button type="submit" class="btn-danger"
                    onclick="return confirm('¿Seguro que deseas eliminar esta cita?')">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}