{% extends "base.html" %}

{% block content %}
<div class="form-card">
    <h2>Nuevo cliente</h2>

    <form method="POST" action="/clientes/nuevo" class="form">
        <label>Nombre *</label>
        <input type="text" name="nombre" required>

        <label>Correo</label>
        <input type="email" name="correo">

        <label>Teléfono</label>
        <input type="text" name="telefono">

        <label>Negocio *</label>
        <select name="id_negocio" required>
            {% for negocio in negocios %}
            <option value="{{ negocio.id_negocio }}">
                {{ negocio.nombre }}
            </option>
            {% endfor %}
        </select>

        <div class="form-actions">
            <button type="submit" class="btn-primary">Guardar</button>
            <a href="/clientes/listar" class="btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}