{% extends "base.html" %}

{% block content %}

<h2>Clientes registrados</h2>

<div class="page-header">
    <a href="/clientes/nuevo" class="btn-primary">+ Nuevo cliente</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Negocio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.id_cliente }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.correo }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.negocio.nombre }}</td>

            <td class="actions-cell">
                <a href="/clientes/{{ cliente.id_cliente }}/editar" class="btn-secondary">Editar</a>

                <form action="/clientes/{{ cliente.id_cliente }}/eliminar" method="POST">
                    <button type="submit" class="btn-danger"
                    onclick="return confirm('¿Seguro que deseas eliminar este cliente?')">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}