<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ScheduleControl{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
   
    {% include "partials/navbar.html" %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-container">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <main>
        <div>
            {% block content %}{% endblock %}
        </div>
    </main>

    {% include "partials/footer.html" %}
    
</body>
</html>