{% extends "base.html" %}

{% block content %}
<div class="welcome-box">
    <h2>Panel principal</h2>
    <p>
        Desde aqui puedes administrar clientes, servicios y citas de tu negocio de forma rápida y ordenada.
    </p>
</div>

<div class="dashboard">
    <div class="card">
        <h3>👤 Clientes</h3>
        <p>Gestiona los clientes del negocio.</p>
        <a href="/clientes">Ir a clientes</a>
    </div>

    <div class="card">
        <h3>✂️ Servicios</h3>
        <p>Administra los servicios ofrecidos.</p>
        <a href="/servicios">Ir a servicios</a>
    </div>

    <div class="card">
        <h3>📅 Citas</h3>
        <p>Agenda y controla las citas.</p>
        <a href="/citas">Ir a citas</a>
    </div>

</div>
{% endblock %}